POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=tic_tac_toe
POSTGRES_PORT=5432

PG_HOST=localhost
PG_PORT=5432
PG_USER=myuser
PG_PASSWORD=mypassword
PG_DB=tic_tac_toe

GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations
GOOSE_DBSTRING=postgres://myuser:mypassword@localhost:5432/tic_tac_toe?sslmode=disable

ACCESS=replace_with_a_random_access_secret_at_least_32_chars
ACCESS_EXP=5m

REFRESH=replace_with_a_random_refresh_secret_at_least_32_chars
REFRESH_EXP=24h
